<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
>

    <!-- *************** Question 1 **********************-->

    <bean id="q1Ans1" class="QuizApp.Answer">
        <property name="id" value="1a"/>
        <property name="answerString" value="yes"/>
        <property name="SubmittedBy" value="Jafar"/>
    </bean>

    <bean id="q1Ans2" class="QuizApp.Answer">
        <property name="id" value="2a"/>
        <property name="answerString" value="no"/>
        <property name="SubmittedBy" value="Abdallah"/>
    </bean>

    <bean id="q1Ans3" class="QuizApp.Answer">
        <property name="id" value="3a"/>
        <property name="answerString" value="idk"/>
        <property name="SubmittedBy" value="Omar"/>
    </bean>



    <bean id="q1" class="QuizApp.Question">
        <property name="id" value="1"/>
        <property name="questionString" value="Are you Ambitious ?"/>
        <property name="answersList" >
            <list>
                <ref bean="q1Ans1"/>
                <ref bean="q1Ans2"/>
                <ref bean="q1Ans3"/>
            </list>
        </property>
    </bean>

    <!-- *************** Question 2 **********************-->

    <bean id="q2Ans1" class="QuizApp.Answer">
        <property name="id" value="2a"/>
        <property name="answerString" value="Real Madrid"/>
        <property name="SubmittedBy" value="Jafar"/>
    </bean>

    <bean id="q2Ans2" class="QuizApp.Answer">
        <property name="id" value="2b"/>
        <property name="answerString" value="Bayern Munich"/>
        <property name="SubmittedBy" value="Ibrahim"/>
    </bean>

    <bean id="q2Ans3" class="QuizApp.Answer">
        <property name="id" value="2c"/>
        <property name="answerString" value="Liverpool"/>
        <property name="SubmittedBy" value="Amr"/>
    </bean>

    <bean id="q2" class="QuizApp.Question">
        <property name="id" value="1"/>
        <property name="questionString" value="What football club do you support ?"/>
        <property name="answersList" >
            <list>
                <ref bean="q2Ans1"/>
                <ref bean="q2Ans2"/>
                <ref bean="q2Ans3"/>
            </list>
        </property>
    </bean>

    <!-- *************** Question 3 **********************-->

    <bean id="q3Ans1" class="QuizApp.Answer">
        <property name="id" value="3a"/>
        <property name="answerString" value="2002"/>
        <property name="SubmittedBy" value="Jafar"/>
    </bean>

    <bean id="q3Ans2" class="QuizApp.Answer">
        <property name="id" value="3b"/>
        <property name="answerString" value="2004"/>
        <property name="SubmittedBy" value="Ibrahim"/>
    </bean>

    <bean id="q3Ans3" class="QuizApp.Answer">
        <property name="id" value="3c"/>
        <property name="answerString" value="2000"/>
        <property name="SubmittedBy" value="Amr"/>
    </bean>

    <bean id="q3" class="QuizApp.Question">
        <property name="id" value="1"/>
        <property name="questionString" value="When did Brazil last win the World Cup ?"/>
        <property name="answersList" >
            <list>
                <ref bean="q3Ans1"/>
                <ref bean="q3Ans2"/>
                <ref bean="q3Ans3"/>
            </list>
        </property>
    </bean>

    <!-- *************** Quiz bean **********************-->

    <bean id="quiz" class="QuizApp.Quiz">
        <constructor-arg name="questionsList" >
            <list>
                <ref bean="q1"/>
                <ref bean="q2"/>
                <ref bean="q3"/>
            </list>
        </constructor-arg>
    </bean>

</beans>
